*{padding: 0;margin: 0;box-sizing: border-box;}
body{background-color:#F3F0EC;}
.logo {width: 100%;height: 80px;}
/* .aa{margin-left: 5%}
.bb{margin-left: 20%;}
.cc{margin-left: 25%;} */
.cc{margin-top: 10%;}
@media all and (max-width: 768px) {
    .logo{
        width: 100%;
    }
	.bb{
		width: 100%;
		margin: auto;
	}
	.aa{
		width: 60%;
		margin: auto;
	}
	.cc{
		width: 70%;
		margin: auto;
		margin-top: 8%;
		margin-left: 10%;
	}
}
.asx {
	margin-left: -50%;
}
@media all and (max-width:768px){
	.index-1 {margin-left: -590px;}
	.yewei button{margin-left: -350px;}
	.ASD1 {width:100%;}
	.ASD1 img{width: 100%;}
	.asx {margin-left:auto;}
}

/* 2 */
.ss{margin-top: 2%;}
.ss input{border: none;background-color: #F9F8F6;height: 45px;border-radius: 90px;position: absolute;left: 7%;margin-top: 5px;width: 80%;}
@media all and (max-width:768px){
	.ss img{width: 100%;height: 40px;}
	.ss input{width:80%;margin-left: 17px;height: 28px;}
}
/* .zjian {margin:1% 20%;width: 60%;} */
.zjian {
	width: 880px;
	margin: 0 auto;
}
.zjian img{width: 100%;}
@media all and (max-width:768px){
	.zjian {
		width: 100%;
		margin: auto;
		}
}
.shangping{width: 100%;margin-top:20px;}
.shangping img{width: 30%;margin-left: 2.5%;}
@media all and (max-width:768px){
	.shangping img{
		width: 45%;
		margin-top: 2%;
		}
}
.yewei{width: 100%;}
.yewei-1 {border: none;background-color: #e8e1d7;height: 58px;border-radius: 10px;position: absolute;left: 43%;margin-top: 40px;width: 47%;}
@media all and (max-width:768px){
	.yewei img{height: 90px;}
	.yewei-1 {width: 47%;height:25px;margin-top: 18px;}
}
.sgzm{width: 100%;background-color: #fff;height: 80px;}
.sgzm-1{margin: auto 30%;}
.sgzm a{margin-left: 20%;}
@media all and (max-width:768px){
	.sgzm {
		height: 250px;
		width: 100%;
		text-align: center;
	}
	.cba{
		margin-left: 5%;
		
	}
	.sgzm a{margin: 2% 30%;}
}
/* page */
.box2{
	margin-top: 50px;
	background-color: #fff;
	width:100%;
	height:500px;
	}
.boxx2{margin-left: 5%;}
.box2-1,.box2-2{float: left;}
.box2-1 img{width: 130%;}
.aaa {width: 130%;}
.bbb{width: 160%;}
.box2-2 {margin-left: 15%;}
@media all and (max-width:768px){
	.box2{
		margin-top: 20px;
		height: 700px;
	}
	.boxx2{
		margin-left: 10%;
	}
	.box2-1 img{
		width:100%;
		
	}
	.box2-2 img{
		width:100%;
		margin-left: -15%;
	}
}
/* annio */
.an{width: 100%;height: 90px;background-color: #fff;}
.an img{margin-left: 40%;}
@media all and (max-width:768px){
	.an img{
		margin-left: 20%;
		margin-top: -20%;
	}
}
/* page  1 */
.box3{
	background-color: #fff;
	width:100%;
	/* height:600px; */
	padding: 20px;
	padding-top: 0;
	}
.boxx3{margin-top: 60px;display: flex; justify-content: center;}
.boxx3 input{border: none;background-color: #ffffff;height: 25px;position: absolute;
	/* left: 33.5%; */
	margin-top: 3%;width: 25%;}
@media all and (max-width:768px){
	.boxx3{margin: auto;}
	.boxx3 img{width: 100%;}
	.boxx3 input{width: 70%;margin-top: 8%;height: 30px;}
	.box3{height:700px;}
}

/* page3 */


/* 4 */
.boxx4-0,.boxx4-1{float: left;}
.boxx4-1 {margin-left: 80%;}
@media all and (max-width:768px){
	.boxx4-1 {margin-left: 35%;}
}
.box4{
	width: 100%;
}
.box4 img{width: 100%;margin-left: 3%;margin-top: 20%;}
@media all and (max-width:768px){
	.box4 img{
		width: 100%;
		height: 250px;
	}
}
.box4-page3{
	width: 100%;
}
.box4-page3 img{width: 40%;margin-left: 3%;}
@media all and (max-width:768px){
	.box4-page3 img{
		width: 100%;
	}
}
/* 4 */
.box66{
	background-color: #fff;
	width:100%;
	height:750px;
	}
.box4-page4{
	width: 100%;
}
.box4-page4 img{width: 45%;margin-left: 3%;}
@media all and (max-width:768px){
	.box4-page3 img{
		width: 100%;
	}
	.box4-page4 img{
		width: 100%;
		margin-left: auto;
	}
	.box66{
		height: 1000px;
	}
}
/* 5 */
.zxc{width: 35%;
height: 60px;position: absolute;
margin-top: -10%;
margin-left: 56%;
}
@media all and (max-width:768px){
	.zxc{width: 70%;
	height: 60px;position: absolute;
	margin-top: -23%;
	margin-left: 15%;
	}
}
.zxc-1{width: 10%;
height: 30px;position: absolute;
margin-top: -3%;
margin-left: 70%;
}
@media all and (max-width:768px){
	.zxc-1{width: 30%;
	height: 30px;position: absolute;
	margin-top: -8%;
	margin-left: 36%;
	}
}
/* 8 */
.bx{margin-left: 10%;}


.logo {
  display: flex;
  align-items: center;
}

.logo a:first-child {
  width: 148px;
}

.logo a:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo a:last-child {
  width: 225px;
}

.search-input {
  border: none;
  background-color: #F9F8F6;
  height: 45px;
  border-radius: 90px;
  width: 100%;
  font-size: 20px;
  padding-left: 20px;
}

.ss {
  padding: 20px;
}

.yewei {
  padding: 30px 500px;

}

.yewei > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yewei > div span {
  display: inline-block;
  width: 300px;
  color: #B6B9A0;
  font-weight: 400;
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
}

.yewei > div input {
  flex: 1;
  border-radius: 10px;
}

button {
  display: block;
  padding: 10px 60px;
  font-size: 20px;
  background: #9e9393;
  color: #FFF;
  border: 0 none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}
button:hover {
	cursor: pointer;
}

.sgzm {
  line-height: 80px;
}

.sgzm .sgzm-1 {
  display: flex;
}

.sgzm a {
  flex: 1;
  text-decoration: none;
  color: #B6B9A0;
  font-size: 16px;
  text-align: center;
}
.suc-div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.suc-div > div p{
	font-size: 36px;
	color:#B6B9A0;
	font-weight: 800;
	line-height: 130px;
}
button.back {
	color:#B6B9A0;
	background-color: #F7F8FA;
}